.git
.gitignore
README.md
.env
node_modules
npm-debug.log
Dockerfile*
.dockerignore
*.md
.git/
.git/*
!gitignore
.nyc_output
coverage
*.log
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.pyup.yml
.bandit
.tox
noxfile.py
.hypothesis
.DS_Store
backend/__pycache__
backend/*.pyc
backend/*.pyo
frontend/node_modules
frontend/dist
frontend/build
frontend/.next
frontend/out